textarea.code {
    height: 10em;
    width: 100%;
}

button.run {
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
}

#draw {
    border: solid red 1px;
}

.broken {
    border: solid red 1px;
}

.error {
    color: red;
    font-weight: bold;
}
