textarea.code {
    height: 10em;
    width: 100%;
}

button.run {
    padding-left: 3em;
    padding-right: 3em;
    background-color: green;
    color: white;
    font-weight: bold;
}

#draw {
    border: solid red 1px;
}

.broken {
    border: solid red 1px;
}

.error {
    color: red;
    font-weight: bold;
}

input.num {
    width: 3em;
    background-color: azure;
}

.hidden {
    display: none;
}

/* solution names, also setup & teardown */
.label {
    width: 6em;
    display: inline-block;
    background-color: bisque;
}

/* two-column text */
.row {
    display: flex;
}
.left {
    flex: 10%;
}
.right {
    flex: 90%;
}

/* Allow toggling code visibility  */
.collapsed .right {
    display: none;
}
