textarea.code {
    height: 10em;
    width: 100%;
}

button.run {
    padding-left: 3em;
    padding-right: 3em;
    background-color: green;
    color: white;
    font-weight: bold;
}

#draw {
    border: solid red 1px;
}

.broken {
    border: solid red 1px;
}

.error {
    color: red;
    font-weight: bold;
}

input.num {
    width: 3em;
    background-color: azure;
}

.square-label {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    background-color: black;
}
